<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
<h1>{{_i}}UI Base{{/i}} <a style="font-size:12px;margin-left:20px;font-weight:normal" href="demo/basecss.html">切换至纯净demo</a> </h1>
<pre class="prettyprint">
&lt;!-- dpl base css  --&gt;
&lt;link href="http://a.tbcdn.cn/p/sns/1.1/dpl/bootstrap.css" rel="stylesheet"&gt;
</pre>
  <div class="subnav" id="J_SubNav">
    <ul class="nav nav-pills">
      <li><a href="#buttons">{{_i}}Buttons{{/i}}</a></li>
      <li><a href="#colors">{{_i}}Colors{{/i}}</a></li>
      <li><a href="#icons">{{_i}}Icons{{/i}}</a></li>
      <li><a href="#tips">{{_i}}Tips{{/i}}</a></li>
      <li><a href="#tab">{{_i}}Tab{{/i}}</a></li>
      <li><a href="#page">{{_i}}Page{{/i}}</a></li>
    </ul>
  </div>
</header>



<!-- Buttons
================================================== -->
<section id="buttons">
    <div class="page-header">
        <h2>buttons(按钮)</h2>
    </div>

    <div class="row">
        <div class="span3">
            <h3>基本按钮视觉规范</h3>
			<p class="demo-ui"><a href="http://img04.taobaocdn.com/tps/i4/T1m4.SXjXaXXa34Grq-782-656.png" target="_blank"><img src="http://img04.taobaocdn.com/tps/i4/T1m4.SXjXaXXa34Grq-782-656.png_200x200.jpg"/></a></p>
			<p>视觉作者：路飞</p>
        </div>
        <div class="span9">
            <h3>DEMO SHOW</h3>
            <p>class定义：<code>btn-small</code>、<code>btn</code>、<code>btn-large</code></p>
            <p>按钮不可用状态增加class<code>btn-disabled</code></p>
			  <div class="bs-docs-example">
				<ul class="inline-list">
					<li><a class="btn-small btn-base">基本</a></li>
					<li><a class="btn-small btn-base btn-disabled">基本</a></li>
					<li><a class="btn btn-base">基本</a></li>
					<li><a class="btn btn-base">基本按钮</a></li>
					<li><a class="btn-large btn-base">基本按钮</a></li>
					<li>纯色背景按钮，轻量化场景应用</li>
				</ul>
				<ul class="inline-list">
					<li><a class="btn-small">基本</a></li>
					<li><a class="btn">基本</a></li>
					<li><a class="btn">基本按钮</a></li>
					<li><a class="btn-large">基本按钮</a></li>
					<li>渐变色突出按钮，视觉强调些</li>
				</ul>
			  </div>
<pre class="prettyprint linenums">
&lt;button class="btn-small" type="button"&gt;{{_i}}基本{{/i}}&lt;/button&gt;
&lt;button class="btn" type="button"&gt;{{_i}}基本{{/i}}&lt;/button&gt;
&lt;button class="btn" type="button"&gt;{{_i}}基本按钮{{/i}}&lt;/button&gt;
&lt;button class="btn-large" type="button"&gt;{{_i}}基本按钮{{/i}}&lt;/button&gt;
</pre>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <h3>重要钮视觉规范</h3>
			<p class="demo-ui"><a href="http://img03.taobaocdn.com/tps/i3/T1NuASXh0cXXa34Grq-782-656.png" target="_blank"><img src="http://img03.taobaocdn.com/tps/i3/T1NuASXh0cXXa34Grq-782-656.png_200x200.jpg"/></a></p>
			<p>视觉作者：路飞</p>
        </div>
        <div class="span9">
            <h3>DEMO SHOW</h3>
            <p>满足基本btn的样式下增加class定义：<code>btn-primary</code></p>
			  <div class="bs-docs-example">
				<ul class="inline-list">
					<li><a class="btn-small btn-primaryb btn-primary">基本</a></li>
					<li><a class="btn btn-primaryb btn-primary">基本</a></li>
					<li><a class="btn btn-primaryb btn-primary">基本按钮</a></li>
					<li><a class="btn-large btn-primaryb btn-primary">基本按钮</a></li>
					<li>纯色背景按钮，轻量化场景应用</li>
				</ul>
				<ul class="inline-list">
					<li><a class="btn-small btn-primary">基本</a></li>
					<li><a class="btn btn-primary">基本</a></li>
					<li><a class="btn btn-primary">基本按钮</a></li>
					<li><a class="btn-large btn-primary">基本按钮</a></li>
					<li>渐变色突出按钮，视觉强调些</li>
				</ul>
			  </div>
<pre class="prettyprint linenums">
&lt;button class="btn-small" type="button"&gt;{{_i}}基本{{/i}}&lt;/button&gt;
&lt;button class="btn" type="button"&gt;{{_i}}基本{{/i}}&lt;/button&gt;
&lt;button class="btn" type="button"&gt;{{_i}}基本按钮{{/i}}&lt;/button&gt;
&lt;button class="btn-large" type="button"&gt;{{_i}}基本按钮{{/i}}&lt;/button&gt;
</pre>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <h3>辅助按钮视觉规范</h3>
			<p class="demo-ui"><a href="http://img01.taobaocdn.com/tps/i1/T1Ui3SXaFcXXa34Grq-782-656.png" target="_blank"><img src="http://img01.taobaocdn.com/tps/i1/T1Ui3SXaFcXXa34Grq-782-656.png_200x200.jpg"/></a></p>
			<p>视觉作者：路飞</p>
        </div>
        <div class="span9">
            <h3>DEMO SHOW</h3>
            <p>class定义：<code>btn-aid</code>、<code>btn-aid</code>、<code>btn-aid</code>; 纯色背景需要增加<code>btn-aidb</code></p>
			  <div class="bs-docs-example">
				<ul class="inline-list">
					<li><a class="btn-small btn-aidb btn-aid">基本</a></li>
					<li><a class="btn btn-aidb btn-aid">基本</a></li>
					<li><a class="btn btn-aidb btn-aid">基本按钮</a></li>
					<li><a class="btn-large btn-aidb btn-aid">基本按钮</a></li>
					<li>纯色背景按钮，轻量化场景应用</li>
				</ul>
				<ul class="inline-list">
					<li><a class="btn-small btn-aid">基本</a></li>
					<li><a class="btn btn-aid">基本</a></li>
					<li><a class="btn btn-aid">基本按钮</a></li>
					<li><a class="btn-large btn-aid">基本按钮</a></li>
					<li>渐变色突出按钮，视觉强调些</li>
				</ul>
			  </div>
<pre class="prettyprint linenums">
&lt;button class="btn-small btn-aid" type="button"&gt;{{_i}}基本{{/i}}&lt;/button&gt;
&lt;button class="btn btn-aid" type="button"&gt;{{_i}}基本{{/i}}&lt;/button&gt;
&lt;button class="btn btn-aid" type="button"&gt;{{_i}}基本按钮{{/i}}&lt;/button&gt;
&lt;button class="btn-large btn-aid" type="button"&gt;{{_i}}基本按钮{{/i}}&lt;/button&gt;
</pre>
        </div>
    </div>
</section>


<!-- Colors(文本颜色) 
================================================== -->
<section id="colors">
    <div class="page-header">
        <h2>Colors(文本颜色)</h2>
    </div>

    <div class="row">
		<div class="span3 inline-list-wrap">
            <h3>文本颜色觉规范</h3>
			<p class="demo-ui"><a href="http://img02.taobaocdn.com/tps/i2/T1qIgVXhheXXaDMY3_-1023-917.png" target="_blank"><img src="http://img02.taobaocdn.com/tps/i2/T1qIgVXhheXXaDMY3_-1023-917.png"/></a></p>
			<p>视觉作者：路飞</p>
		</div>
        <div class="span4 inline-list-wrap">
			<h3>DEMO SHOW</h3>
			<table class="table table-bordered table-striped">
				<thead>
				  <tr>
					<th>文本字体颜色</th>
					<th>class=""</th>
				  </tr>
				</thead>
				<tbody>
				<tr>
					<td class="color-black">
                		字体颜色为黑色文本
					</td>
					<td>
						<code>color-black</code>
					</td>
				</tr>
				<tr>
					<td class="color-graydarker">
                		字体颜色为比较黑色
					</td>
					<td>
						<code>color-graydarker</code>
					</td>
				</tr>
				<tr>
					<td class="color-graydark">
                		字体颜色为暗灰色
					</td>
					<td>
						<code>color-graydark</code>
					</td>
				</tr>
				<tr>
					<td class="color-gray">
                		字体颜色为灰色
					</td>
					<td>
						<code>color-gray</code>
					</td>
				</tr>
				<tr>
					<td class="color-graylight">
                		字体颜色为亮灰色
					</td>
					<td>
						<code>color-graylight</code>
					</td>
				</tr>
				<tr>
					<td class="color-graylighter">
                		字体颜色为更亮灰色
					</td>
					<td>
						<code>color-graylighter</code>
					</td>
				</tr>
				<tr>
					<td class="color-white">
                		<span style="background:#000">字体颜色为白色</span>
					</td>
					<td>
						<code>color-white</code>
					</td>
				</tr>
				</tbody>
			</table>
        </div>
		<div class="span4 inline-list-wrap">
			<h3>DEMO SHOW</h3>
			<table class="table table-bordered table-striped">
				<thead>
				  <tr>
					<th>文本字体颜色</th>
					<th>class=""</th>
				  </tr>
				</thead>
				<tbody>
				<tr>
					<td class="color-blue">
                		字体颜色为蓝色
					</td>
					<td>
						<code>color-blue</code>
					</td>
				</tr>
				<tr>
					<td class="color-blueDark">
                		字体颜色为深蓝色
					</td>
					<td>
						<code>color-blueDark</code>
					</td>
				</tr>
				<tr>
					<td class="color-green">
                		字体颜色为绿色
					</td>
					<td>
						<code>color-green</code>
					</td>
				</tr>
				<tr>
					<td class="color-red">
                		字体颜色为红色
					</td>
					<td>
						<code>color-red</code>
					</td>
				</tr>
				<tr>
					<td class="color-yellow">
                		字体颜色为黄色
					</td>
					<td>
						<code>color-yellow</code>
					</td>
				</tr>
				<tr>
					<td class="color-orange">
                		字体颜色为橙色
					</td>
					<td>
						<code>color-orange</code>
					</td>
				</tr>
				<tr>
					<td class="color-pink">
						<a class="color-pink">字体颜色为粉色</a>
					</td>
					<td>
						<code>color-pink</code>
					</td>
				</tr>
				<tr>
					<td class="color-purple">
						<a class="color-purple">字体颜色为紫色</a>
					</td>
					<td>
						<code>color-purple</code>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
    </div>

</section>

<!-- Icons 
================================================== -->
<section id="icons">
    <div class="page-header">
        <h2>Icons (图标)</h2>
    </div>

    <div class="row">
        <div class="span10">
			<ul class="span4">
				<li><i class="icon-shop"></i> <code>icon-shop</code> 店铺动态</li>
				<li><i class="icon-select"></i> <code>icon-select</code> 帮我挑</li>
				<li><i class="icon-money"></i> <code>icon-large-tip</code> 淘金币</li>
				<li><i class="icon-group"></i> <code>icon-group</code> 圈子</li>
				<li><i class="icon-box"></i> <code>icon-box</code> 任务盒子</li>
				<li><i class="icon-bought"></i> <code>icon-bought</code> 已购</li>
				<li><i class="icon-bought-show"></i> <code>icon-bought-show</code> 已购实物绣</li>
				<li><i class="icon-shop-big"></i> <code>icon-shop-big</code> 店铺动态大icon</li>
				<li><i class="icon-select-big"></i> <code>icon-select-big</code> 帮我挑大icon</li>
			</ul>
            <ul class="span4">
                <li><i class="icon-up"></i> icon-up</li>
                <li><i class="icon-down"></i> icon-down</li>
                <li><i class="icon-left"></i> icon-left</li>
                <li><i class="icon-right"></i> icon-right</li>
                <li><i class="icon-close"></i> icon-close</li>
                <li><i class="icon-plus"></i> icon-plus</li>
                <li><i class="icon-minus"></i> icon-minus</li>
                <li><i class="icon-fold"></i> icon-fold</li>
                <li><i class="icon-unfold"></i> icon-unfold</li>
                <li><i class="icon-setting"></i> icon-setting</li>
                <li><i class="icon-edit"></i> icon-edit</li>
            </ul>
        </div>
    </div>
</section>

<!-- tips 
================================================== -->
<section id="tips">

    <div class="page-header">
        <h2>Tips (提示)</h2>
    </div>

    <div class="row">
        <div class="span3">
            <h3>tips提示觉规范</h3>
			<p class="demo-ui"><a href="http://img01.taobaocdn.com/tps/i1/T1m.UVXe0eXXbYF0zT-1049-906.png" target="_blank"><img src="http://img01.taobaocdn.com/tps/i1/T1m.UVXe0eXXbYF0zT-1049-906.png"/></a></p>
			<p>视觉作者：路飞</p>
        </div>
        <div class="span9">
            <h3>DEMO SHOW</h3>
			<p>箭头的方向根据class来决定<code>tips-arrow-top</code>、<code>tip-arrow-left</code>、<code>tip-arrow-bottom</code>、<code>tip-arrow-right</code></p>
			  <div class="bs-docs-example" style="height:140px">
				<div class="span3">
					<div class="tips"><div class="tips-arrow tips-arrow-top"><i></i><i class="last"></i></div>这是一个小提,多行文本提示设置宽度解决问题。两行文本</div>
				</div>
				<div class="span3">
					<div class="tips"><div class="tips-arrow tips-arrow-bottom"><i></i><i class="last"></i></div><b>文本提示：</b>这是一个小提示</div>
				</div>
				<div class="span3">
					<div class="tips"><div class="tips-arrow tips-arrow-left"><i></i><i class="last"></i></div>这是一个小提示</div>
				</div>
				<div class="span3">
					<div class="tips"><div class="tips-arrow tips-arrow-right"><i></i><i class="last"></i></div>这是一个小提示</div>
				</div>
				<div class="span3">
					<div class="tips tips-gray">
					<div class="tips-arrow tips-arrow-top"><i></i><i class="last"></i></div>
					这是一个灰色的提示</div>
				</div>
			  </div>
<pre class="prettyprint linenums">
	&lt;div class="tips"&gt;
		&lt;div class="tips-arrow tips-arrow-top"&gt;&lt;i&gt;&lt;/i&gt;&lt;i&gt;&lt;/i&gt;&lt;/div&gt;
		这是一个小提示
	&lt;/div&gt;
</pre>
        </div>
    </div>
</section>

<!-- Tab
================================================== -->
<section id="tab">
    <div class="page-header">
        <h2>Tab</h2>
    </div>

    <div class="row">
        <div class="span3">
            <h3>Tab视觉规范</h3>
			<p class="demo-ui"><a href="http://img01.taobaocdn.com/tps/i1/T141kkXlhgXXb6fHf.-1059-899.png" target="_blank"><img src="http://img01.taobaocdn.com/tps/i1/T141kkXlhgXXb6fHf.-1059-899.png"/></a></p>
			<p>视觉作者：路飞</p>
        </div>
        <div class="span9">
            <h3>DEMO SHOW</h3>
            <p>标签页的实现使用<code>ul, li</code>元素，为ul设置<code>tab</code>class, 选中状态的标签在li上增加<code>selected</code>class即可</p>
			  <div class="bs-docs-example">
				<ul class="tab">
					<li class="selected">
						<a href="#"><span>好友动态</span></a>
					</li>
					<li>
						<a href="#"><span>店铺动态</span></a>
					</li>
					<li>
						<a href="#"><span>于我相关</span></a>
					</li>
				</ul>
			  </div>
<pre class="prettyprint linenums">
&lt;ul class="tab"&gt;
	&lt;li class="selected"&gt;
		&lt;a href="#"&gt;&lt;span&gt;好友动态&lt;/span&gt;&lt;/a&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a href="#"&gt;&lt;span&gt;店铺动态&lt;/span&gt;&lt;/a&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a href="#"&gt;&lt;span&gt;于我相关&lt;/span&gt;&lt;/a&gt;
	&lt;/li&gt;
&lt;/ul&gt;
</pre>
        </div>
    </div>
</section>
<!-- Pagination
================================================== -->
<section id="page">
  <div class="page-header">
	<h1>{{_i}}Page(翻页){{/i}} <small>{{_i}}{{/i}}</small></h1>
  </div>

    <div class="row">
        <div class="span3">
            <h3>Page视觉规范</h3>
			<p class="demo-ui"><a href="http://img01.taobaocdn.com/tps/i1/T1qh7oXnhgXXb57KfL-928-906.png" target="_blank"><img src="http://img01.taobaocdn.com/tps/i1/T1qh7oXnhgXXb57KfL-928-906.png"/></a></p>
			<p>视觉作者：路飞</p>
        </div>
        <div class="span9">
            <h3>DEMO SHOW</h3>
			  <div class="bs-docs-example">
				<div class="pagination">
				  <ul>
					<li><a href="#">&laquo;</a></li>
					<li class="disabled"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a class="dot">...</a></li>
					<li><a href="#">&raquo;</a></li>
					<li><button class="btn-small btn-base">上一页</button></li>
					<li><button class="btn-small btn-base btn-disabled">下一页</button></li>
				  </ul>
				</div>
			  </div>
<pre class="prettyprint linenums">
&lt;div class="pagination"&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href="#"&gt;Prev&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
		&lt;li class="disabled" &gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class="dot" href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Next&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;button class="btn-small btn-base"&gt;上一页&lt;/button&gt;&lt;/li&gt;
		&lt;li&gt;&lt;button class="btn-small btn-base btn-disabled"&gt;下一页&lt;/button&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
</pre>
        </div>
    </div>
</section>
