      
    <script type="text/javascript" src="http://a.tbcdn.cn/s/kissy/1.2.0/kissy-min.js" ></script>
    <script type="text/javascript" src="http://a.tbcdn.cn/p/ocp/1.0/index.js" ></script>
	  <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>{{_i}}Javascript 控件{{/i}}</h1>
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#javascript">{{_i}}All plugins{{/i}}</a></li>
            <li><a href="#tree">{{_i}}Tree{{/i}}</a></li>
            <li><a href="#treeNode">{{_i}}TreeNode{{/i}}</a></li>
            <li><a href="#forest">{{_i}}Forest{{/i}}</a></li>
            <li><a href="#dialogbox">{{_i}}S.Dialogbox{{/i}}</a></li>
          </ul>
        </div>
      </header>

      <!-- Using Javascript w/ Bootstrap
      ================================================== -->
      <section id="javascript">
        <div class="page-header">
          <h1>{{_i}}KISSY Plugins{{/i}} <small>{{_i}}先在页面中外链<code>http://a.tbcdn.cn/p/sns/1.0/index.js</code>，注意请一定在kissy之后{{/i}}</small></h1>
        </div>
      <div class="row">
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#treeNode">{{_i}}TreeNode{{/i}}</a></h3>
            <p>{{_i}}treeNode 树节点类{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#tree">{{_i}}Tree{{/i}}</a></h3>
            <p>{{_i}}tree动态树类{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#forest">{{_i}}Forest{{/i}}</a></h3>
            <p>{{_i}}forest 森林控件，包含树对象序列{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#dialogbox">{{_i}}S.Dialogbox{{/i}}</a></h3>
            <p>{{_i}}基于KISSY Overlay的二次封装的弹出框插件dialogbox，添加及优化功能：1、增加alert,comfirm提示，2、优化多次new overlay对象。3、简化配置项。4、增加移动端适配。5、简洁的对外接口{{/i}}</p>
          </label>
        </div>
      </div>
      <div class="alert alert-info"><strong>{{_i}}Heads up!{{/i}}</strong> {{_i}}All javascript plugins require the latest version of jQuery.{{/i}}</div>
    </section>
	


